# Default ignored files
/../../SistemaGestionEmpleados./.idea/shelf/
/../../SistemaGestionEmpleados./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../SistemaGestionEmpleados./.idea/httpRequests/
# Datasource local storage ignored files
/../../SistemaGestionEmpleados./.idea/dataSources/
/../../SistemaGestionEmpleados./.idea/dataSources.local.xml
